form {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  color: white;
  font-size: 24px;
}

.bills {
  display: flex;
  gap: 75px;
}

.input-field {
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 15px;
}

.input-field > label {
  display: inline-block;
  width: 50px;
}

.input-field > input {
  color: rgb(11, 148, 11);
  border-radius: 20px;
  width: 75px;
  height: 30px;
  text-align: center;
  background-color: #b0b0b1;
  font-weight: 600;
  margin-left: 15px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
