.bill-list {
  background-color: green;
  border-radius: 15px;
  width: 200px;
  height: 580px;
  position: relative;
  padding: 15px;
  padding-bottom: 35px;
}
.top {
  margin-bottom: 20px;
}

.right-bills > .input-field > label {
  width: 80px;
}
.right-bills > .input-field {
  width: 200px;
}

#refresh {
  position: absolute;
  top: -2px;
  left: -10px;
  rotate: 95deg;
  color: black;
  z-index: 10;
  font-size: 30px;
}

#white {
  color: white;
}

.bill-list h5 {
  color: black;
  margin: 3px 0 3px 0;
  padding-left: 25px;
}

.bill-list p {
  margin: 3px 0 3px 0;
  font-size: 18px;
  padding-left: 45px;
}

.line {
  position: absolute;
  left: 40px;
  width: 3px;
  height: 157px;
  background-color: black;
}

.right-bills > .bill-list > .bottom > .line {
  height: 265px;
}

.fa-refresh:hover{
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .bill-list p {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  .bill-list h5 {
    color: black;
    margin: 3px 0 3px 0;
    padding-left: 10px;
  }

  .bill-list p {
    margin: 3px 0 3px 0;
    padding-left: 30px;
  }
  .line {
    position: absolute;
    left: 25px;
    width: 3px;
    height: 157px;
    background-color: black;
  }
}