.bill-list {
  background-color: green;
  border-radius: 15px;
  width: 185px;
  min-height: 700px;
  height: auto;
  position: relative;
  padding: 15px;
}
.top {
  margin-bottom: 70px;
}
#refresh {
  position: absolute;
  top: -5px;
  left: -10px;
  rotate: 95deg;
  color: black;
  z-index: 10;
  font-size: 30px;
  cursor: pointer;
}

#white {
  color: white;
}

.bill-list h5 {
  font-size: 16px;
  color: black;
  margin: 3px 0 3px 0;
  padding-left: 20px;
}

.bill-list p {
  margin: 3px 0 3px 0;
  font-size: 18px;
  padding-left: 45px;
}

.line {
  position: absolute;
  left: 40px;
  width: 3px;
  height: 160px;
  background-color: black;
}
.line2 {
  position: absolute;
  left: 40px;
  width: 3px;
  height: 265px;
  background-color: black;
}


@keyframes spin-once {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.spin-once {
  animation: spin-once 1s ease-in-out;
}

#timestamp {
  position: absolute;
  bottom: 10px;
  left: -10px;
  color: black;
  font-size: 14px;
  font-weight: bold;
}


#download-btn {
  margin-left: 10px;
  margin-top: 20px;
  padding: 7px;
  background-color: black;
  color: white;
  border-radius: 10px;
  align-items: center;
  font-size: 12px;
}

@media (max-width: 600px) {
  .bill-list {
    width: 100%;
    min-width: 150px;
    min-height: 700px;
    padding: 10px;
  }


  .bill-list h5 {
    font-size: 12px;
  }

  .line-2 {
    height: 200px;
  }

  .bill-list p {
    font-size: 16px;
  }

  .top p {
    padding-left: 30px;
  }

  .line {
    left: 30px;
  }

  .line2 {
    height: 240px;
    left: 30px;
  }

  .bottom p{
    padding-left: 30px;
  }
}